---
import { ClientRouter } from "astro:transitions";

import "@fontsource-variable/geist-mono";
import "@fontsource-variable/inter-tight";
import "@fontsource/crimson-text";

import { Meteors } from "~/components/Meteors";
import Navigation from "~/components/Navigation.astro";

import "~/styles/global.css";
---

<!doctype html>
<html
  class="scroll-smooth antialiased selection:bg-primary-500 selection:text-white"
  lang="en"
>
  <head>
    <slot name="head" />
    <ClientRouter />
    <script
      defer
      src="https://assets.onedollarstats.com/stonks.js"></script>
  </head>

  <body
    class="bg-zinc-50 font-sans text-gray-900 dark:bg-gray-950 dark:text-gray-100"
  >
    <Navigation />
    <Meteors client:only="preact" number={15} />
    <slot />
  </body>
</html>
